
.make-scrollable {
      height: 528px !important;
      overflow-y: scroll !important;
}

.animation.ng-enter {
  -webkit-transition: 1s;
  opacity: 0;
}

.animation.ng-enter-stagger {
  transition-delay: 0.2s;
}

.animation.ng-enter.ng-enter-active {
  opacity: 1;
}
