<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>
	  <script src="/node_modules/angular-messages/angular-messages.js"></script>
    <script>

    function dump(){
        $.ajax({
            url:'/dump',
            type:'post'
        });
    }
        var app = angular.module('YourApp', ['ngMaterial', 'ngMessages']);
    		app.controller('YourController', function($scope, $http, $interval) {

            $scope.candump = [];

            $scope.moveUpLeft = function() {
              $scope.SendData("ul");
            }
            $scope.moveUp = function() {
              $scope.SendData("up");
            }
            $scope.moveUpRight = function() {
              $scope.SendData("upr");
            }
            $scope.moveLeft = function() {
              $scope.SendData("l");
            }
            $scope.moveRight = function() {
              $scope.SendData("r");
            }
            $scope.moveDownLeft = function() {
              $scope.SendData("dl");
            }
            $scope.moveDown = function() {
              $scope.SendData("d");
            }
            $scope.moveDownRight = function() {
              $scope.SendData("dr");
            }
            $scope.SendData = function (command) {
	       command = "345#" + command;
               var datas = $.param({
                   cansignal : command
               });
               $.ajax({
	  	 type: "POST",
  		 contentType: "application/x-www-form-urlencoded;charset=utf-8",
		 url: "/form",
 		 data: datas,
		 dataType: "json",
                 success: {
                    true : function () {
                        console.log("WIN")
                    }
                 }
	       });
            };

            $scope.ReceiveData = function () {
               var data = $.param({
                   dump : true
               });
                var config = {
                    headers : {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                    }
                }
                $http.post('/dump', data, config).then(function(success) {
                    $scope.candump = success.data.candump.concat($scope.candump);
                })
            };

            $interval($scope.ReceiveData, 1000);

            $scope.StopCommand = function () {
               $scope.SendData("stop");
            };
    		 })
         .controller('DateController', function($scope) {
             $scope.date = new Date();
         })
         .service('form', function($http) {
            function doGet() {
              // return promise from test
              return $http.get('http://localhost/form');
            }
            return {
              doGet: doGet
            }
          })


    </script>
</head>
    <body ng-app="YourApp" layout="column" ng-cloak>

    <div ng-controller="YourController">
    		<md-content layout-padding>

    		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-fab md-primary" ng-mousedown="moveUpLeft()" ng-mouseup="StopCommand()" style="transform: rotate(-45deg)" aria-label="UpLeft">
    				<md-icon md-svg-src="/svg/up.svg"></md-icon>
    			</md-button>
          <md-button class="md-fab md-primary" ng-mousedown="moveUp()" ng-mouseup="StopCommand()" aria-label="Up">
    				<md-icon md-svg-src="/svg/up.svg"></md-icon>
    			</md-button>
    			<md-button class="md-fab md-primary" ng-mousedown="moveUpRight()" ng-mouseup="StopCommand()" style="transform: rotate(45deg)" aria-label="UpRight">
    				<md-icon md-svg-src="/svg/up.svg"></md-icon>
    			</md-button>
    		</section>
    		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    			<md-button class="md-fab md-primary" ng-mousedown="moveLeft()" ng-mouseup="StopCommand()" aria-label="Left">
    			  <md-icon md-svg-src="/svg/left.svg"></md-icon>
    			</md-button>

          <md-button class="md-fab md-disabled" ng-disabled="true" aria-label="blank">
    				<md-icon md-svg-src="/svg/blank.svg"></md-icon>
    			</md-button>

    			<md-button class="md-fab md-primary" ng-mousedown="moveRight()" ng-mouseup="StopCommand()" aria-label="Right">
    				<md-icon md-svg-src="/svg/right.svg"></md-icon>
    			</md-button>
    		</section>
    		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    			<md-button class="md-fab md-primary" ng-mousedown="moveDownLeft()" ng-mouseup="StopCommand()" style="transform: rotate(45deg)" aria-label="DownLeft">
    				<md-icon md-svg-src="/svg/down.svg"></md-icon>
    			</md-button>
          <md-button class="md-fab md-primary" ng-mousedown="moveDown()" ng-mouseup="StopCommand()" aria-label="Down">
    				<md-icon md-svg-src="/svg/down.svg"></md-icon>
    			</md-button>
          <md-button class="md-fab md-primary" ng-mousedown="moveDownRight()" ng-mouseup="StopCommand()" style="transform: rotate(-45deg)" aria-label="DownRight">
    				<md-icon md-svg-src="/svg/down.svg"></md-icon>
    			</md-button>

    		</section>

          <form action="/form" method="post" name="form" >
      		  <md-input-container class="md-block">
      			<label>ID#Message</label>
      			<input name="cansignal" minlength="3" maxlength="12" ng-pattern="/^\d{1,3}#.+/" md-no-asterisk name="message" ng-model="message" required>
      			<div ng-messages="form.message.$error">
              <div ng-message="required">You did not enter a field</div>
              <div ng-message="minlength">The message must be at least 3 characters long.</div>
        			<div ng-message="maxlength">The message must be less than 12 characters long.</div>
        			<div ng-message="pattern">Incorrect frame format.</div>
      			</div>
      		  </md-input-container>

      		  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      			  <md-button class="md-raised md-primary" ng-disabled="form.$invalid" type="submit">Send</md-button>
              <md-button class="md-raised md-primary" ng-click="ReceiveData()" >Dump</md-button>
            </section>

      		</form>
    	  </md-content>

        <md-toolbar class="md-theme-light">
          <h2 class="md-toolbar-tools">
            <span>Recieved frames</span>
          </h2>
        </md-toolbar>
        <md-content>
          <md-list class="make-scrollable">
            <md-list-item class="md-3-line animation" ng-repeat="dump in candump">
              <div class="md-list-item-text" layout="column">
                <h3>ID: {{dump.id}}</h3>
                <h3>Msg: {{dump.frame}}</h4>
                <p ng-app="YourApp" ng-controller="DateController">
                    {{date | date:'yyyy-MM-dd HH:MM:SS'}}
                </p>
              </div>
              <md-divider md-inset ng-if="!$last"></md-divider>
            </md-list-item>
          </md-list>
        </md-content>
    </div>


</body>
</html>
